body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;

	background-color: rgb(240,240,240);
}

main {
	flex: 1 0 auto;
}

.no_see {
	background-color: rgba(0,0,0,0);
}

.row.col-l2{
/*
	width:45%;
	height: 100%;
	margin:10px;
	padding:0px;
	display: inline-block;
	position: relative;
	overflow: auto;
*/
}

.row.col-l1{

}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color:rgba(0,0,0,.81);
	border-radius: 0px;
}

::-webkit-scrollbar-thumb {
	border-radius: 0px;
	background-color:#1B5E3E;
}